<br />
<div class="row">
  <div class="col-sm-4">
    <button class="btn btn-primary" (click)="getApiDemoResponse()">Get Repositories</button>
  </div>
  <div class="col-sm-4">
      <button *ngIf="apiDemoObservable" class="btn btn-primary" (click)="resetApiDemoObs()">Reset</button>
    </div>
</div>
<br />
<div class="row" *ngIf="apiDemoObservable">
  <div class="col-sm-12">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th>Name</th>
            <th>Fork policy</th>
            <th>Created On</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let apiData of apiDemoObservable | async">
            <td>{{apiData.name}}</td>
            <td>{{apiData.fork_policy}}</td>
            <td>{{apiData.created_on | date}}</td>
            <td>{{apiData.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>  
  </div>
</div>